.heading{text-align:center;}
h2{ 
    font-size: 84pt; 
    font-family:Arial, Helvetica, sans-serif;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
}
div{
    width:44%;
    border:black solid 1pt;
    margin:auto;

}
div.bec{
    width: 31%;
    height: 300pt;
    border:black solid 1pt;
    margin:auto;
    display: inline-block;
}
div.jon{
    width: 31%;
    height: 300pt;
    border:black solid 1pt;
    margin:auto;
    display:inline-block;
}
div.marji{
    width: 25%;
    height: 800pt;
    border:black solid 1pt;
    margin:auto;
    display: inline;
}
img.jon{
    width: 400px;
    height: 300px;

  img.bec{
    width: 100pt;
    height: 100pt;
    border:black solid 1pt;
    border-radius:33pt;
img.marji{
    width: 400px;
    height:300px;
}